header {
    background-image: url(images/psg.jpg);
    background-size: cover;
    background-position: center;
}

.top-five-section {
    padding: 10%;
}

.top-five-h1 {
    color: orangered;
    font-family: cursive;
}

.button {
    width: 220px;
    background-color: #015196;
}