@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #0D0D0D;
}

header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(images/psg-2.jpg);
    background-size: cover;
    background-position: center;

}



.top-five-h1 {
    color: #EDC126;
    font-family: cursive;
}

.button {
    width: 220px;
    background-color: #383CC1;
    transition: all ease-in-out 0.4s;

}

.button:hover {
    background-color: #BF3312
}

.inputField {
    /* width: 115px; */
    margin-left: 4%;

}


.list {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bolder;
    font-family: cursive;

}



.select-players-heading,
.header-title {
    color: #FF5E19;
    font-family: 'Lobster', cursive;
}


.social-icons i {
    transition: all ease-in-out 0.4s;
}

.social-icons i:hover {
    color: #FF5E19;
}