@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #0D0D0D;
}

header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(images/psg-2.jpg);
    background-size: cover;
    background-position: center;

}



.top-five-h1 {
    color: #EDC126;
    font-family: cursive;
}

.button {
    width: 220px;
    background-color: #015196;
}

.inputField {
    /* width: 115px; */
    margin-left: 4%;

}

.footer-info {
    padding: 7%;
}

.list {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}



.select-players-heading,
.header-title {
    color: #FF5E19;
    font-family: 'Lobster', cursive;
}