header {
    background-image: url(images/psg.jpg);
    background-size: cover;
    background-position: center;
}

.top-five-section {
    padding: 10%;
}

.top-five-h1 {
    color: #EDC126;
    font-family: cursive;
}

.button {
    width: 220px;
    background-color: #015196;
}

.inputField {
    /* width: 115px; */
    margin-left: 4%;

}

.footer-info {
    padding: 7%;
}